In [1]:
import pandas as pd
import numpy as np

In [7]:
mpg = pd.read_csv('mpg.csv')
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl category
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [8]:
# Q1
displ_under4 = mpg.query('displ <= 4')
displ_over5 = mpg.query('displ >= 5')

In [9]:
displ_under4['hwy'].mean()

25.96319018404908

In [10]:
displ_over5['hwy'].mean()

18.07894736842105

In [11]:
# Q2
audi = mpg.query('manufacturer == "audi"')
toyota = mpg.query('manufacturer == "toyota"')

In [12]:
audi['cty'].mean()

17.61111111111111

In [13]:
toyota['cty'].mean()

18.529411764705884

In [14]:
# Q3
manu3 = mpg.query('manufacturer in ["chevrolet", "ford", "honda"]')

In [16]:
manu3['hwy'].mean()

22.50943396226415