In [1]:
import pandas as pd
df = pd.DataFrame([1, 2, 3])
df.mean()

0    2.0
dtype: float64

In [2]:
x = [1, 2, 3]
x.mean()

AttributeError: 'list' object has no attribute 'mean'

In [3]:
df_x = pd.DataFrame(x)
df_x

   0
0  1
1  2
2  3

In [4]:
df_x.mean()

0    2.0
dtype: float64

In [5]:
x = 1
x

1

In [6]:
type(x)

int

In [7]:
x = 1.5
x

1.5

In [8]:
type(x)

float

In [9]:
x = 'apple'
x

'apple'

In [10]:
type(x)

str

In [11]:
var1 = 1
var1

1

In [12]:
type(var1)

int

In [14]:
var2 = float(var1)
var2

1.0

In [15]:
type(var2)

float

In [16]:
var3 = str(var2)
var3

'1.0'

In [17]:
type(var3)

str

In [18]:
x = [1, 2, 'a', 'b']
x

[1, 2, 'a', 'b']

In [19]:
type(x)

list

In [20]:
x[0]

1

In [21]:
x[1:3]

[2, 'a']

In [22]:
x.append(8)

In [23]:
x

[1, 2, 'a', 'b', 8]

In [24]:
x.remove(2)

In [25]:
x

[1, 'a', 'b', 8]

In [26]:
x[0] = 9
x

[9, 'a', 'b', 8]

In [27]:
x = (1, 2, 'a', 'b')
x

(1, 2, 'a', 'b')

In [28]:
type(x)

tuple

In [29]:
x2 = 1, 2, 'a', 'b'
x2

(1, 2, 'a', 'b')

In [30]:
type(x)

tuple

In [31]:
x[0]

1

In [32]:
x[1:3]

(2, 'a')

In [33]:
x.append(8)

AttributeError: 'tuple' object has no attribute 'append'

In [34]:
x.remove(3)

AttributeError: 'tuple' object has no attribute 'remove'

In [35]:
x[0] = 9

TypeError: 'tuple' object does not support item assignment

In [36]:
x = {'name' : 'kim'}
x

{'name': 'kim'}

In [37]:
type(x)

dict

In [39]:
x = {'id' : 1, 'name' : ['kim', 'park'], 'nclass' : (1, 2, 3)}
x

{'id': 1, 'name': ['kim', 'park'], 'nclass': (1, 2, 3)}

In [40]:
x['id']

1

In [41]:
x['name']

['kim', 'park']

In [42]:
x[1]

KeyError: 1

In [43]:
x['name'][0]

'kim'

In [44]:
x['nclass'][1]

2

In [45]:
x['score'] = [5, 6, 7]
x

{'id': 1, 'name': ['kim', 'park'], 'nclass': (1, 2, 3), 'score': [5, 6, 7]}

In [46]:
del x['id']
x

{'name': ['kim', 'park'], 'nclass': (1, 2, 3), 'score': [5, 6, 7]}

In [47]:
del x['name'][1]

In [48]:
x

{'name': ['kim'], 'nclass': (1, 2, 3), 'score': [5, 6, 7]}

In [49]:
x['score'] = [7, 8, 9]
x

{'name': ['kim'], 'nclass': (1, 2, 3), 'score': [7, 8, 9]}

In [50]:
x['score'][2] = 99
x

{'name': ['kim'], 'nclass': (1, 2, 3), 'score': [7, 8, 99]}

In [51]:
x['math'] = x['score']
x

{'name': ['kim'], 'nclass': (1, 2, 3), 'score': [7, 8, 99], 'math': [7, 8, 99]}

In [52]:
del x['score']
x

{'name': ['kim'], 'nclass': (1, 2, 3), 'math': [7, 8, 99]}

In [53]:
import pandas as pd
x_num = pd.Series([3, 4, 5])
x_num

0    3
1    4
2    5
dtype: int64

In [54]:
type(x_num)

pandas.core.series.Series

In [55]:
x_label = pd.Series([3, 4, 5], index = ['kim', 'lee', 'park'])
x_label

kim     3
lee     4
park    5
dtype: int64

In [56]:
x_num[0]

3

In [57]:
x_num[1]

4

In [58]:
x_label[2]

5

In [59]:
x_label['kim']

3

In [60]:
x_label.loc['kim']

3

In [62]:
x_num.iloc[0]

3

In [63]:
x_num[3] = 9
x_num

0    3
1    4
2    5
3    9
dtype: int64

In [64]:
x_label['choi'] = 6
x_label

kim     3
lee     4
park    5
choi    6
dtype: int64

In [65]:
del x_num[2]
x_num

0    3
1    4
3    9
dtype: int64

In [66]:
del x_label['park']
x_label

kim     3
lee     4
choi    6
dtype: int64

In [67]:
x_num[3] = 4
x_num

0    3
1    4
3    4
dtype: int64

In [68]:
x_label['kim'] = 5
x_label

kim     5
lee     4
choi    6
dtype: int64

In [69]:
mpg = pd.read_csv('mpg.csv')
mpg['hwy']

0      29
1      29
2      31
3      30
4      26
       ..
229    28
230    29
231    26
232    26
233    26
Name: hwy, Length: 234, dtype: int64

In [71]:
mpg['hwy'].mean()

23.44017094017094

In [72]:
n_category = mpg['category'].value_counts()

In [73]:
n_category

suv           62
compact       47
midsize       41
subcompact    35
pickup        33
minivan       11
2seater        5
Name: category, dtype: int64

In [74]:
type(n_category)

pandas.core.series.Series

In [76]:
n_category[0:2]

suv        62
compact    47
Name: category, dtype: int64

In [78]:
n_category[['suv', 'compact']]

suv        62
compact    47
Name: category, dtype: int64

In [80]:
import pandas as pd
df = pd.DataFrame({'var1' : [1, 2, 3],
               'var2' : [4, 5, 6]})
df

   var1  var2
0     1     4
1     2     5
2     3     6

In [81]:
type(df)

pandas.core.frame.DataFrame

In [82]:
df = pd.DataFrame({'var1' : [1, 2, 3],
                  'var2' : [4, 5, 6]},
                 index = ['kim', 'lee', 'park'])
df

      var1  var2
kim      1     4
lee      2     5
park     3     6

In [83]:
x = df['var1']
x

kim     1
lee     2
park    3
Name: var1, dtype: int64

In [84]:
type(x)

pandas.core.series.Series

In [85]:
pd.DataFrame?

Init signature:
pd.DataFrame(
    data=None,
    index: 'Axes | None' = None,
    columns: 'Axes | None' = None,
    dtype: 'Dtype | None' = None,
    copy: 'bool | None' = None,
)
Docstring:
Two-dimensional, size-mutable, potentially heterogeneous tabular data.

Data structure also contains labeled axes (rows and columns).
Arithmetic operations align on both row and column labels. Can be
thought of as a dict-like container for Series objects. The primary
pandas data structure.

Parameters
----------
data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
    Dict can contain Series, arrays, constants, dataclass or list-like objects. If
    data is a dict, column order follows insertion-order. If a dict contains Series
    which have an index defined, it is aligned by its index.

    .. versionchanged:: 0.25.0
       If data is a list of dicts, column order follows insertion-order.

index : Index or array-like
    Index to use for resulting frame. Will default to RangeIndex if
    no indexing information part of input data and no index provided.
columns : Index or array-like
    Column labels to use for resulting frame when data does not have them,
    defaulting to RangeIndex(0, 1, 2, ..., n). If data contains column labels,
    will perform column selection instead.
dtype : dtype, default None
    Data type to force. Only a single dtype is allowed. If None, infer.
copy : bool or None, default None
    Copy data from inputs.
    For dict data, the default of None behaves like ``copy=True``.  For DataFrame
    or 2d ndarray input, the default of None behaves like ``copy=False``.

    .. versionchanged:: 1.3.0

See Also
--------
DataFrame.from_records : Constructor from tuples, also record arrays.
DataFrame.from_dict : From dicts of Series, arrays, or dicts.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_table : Read general delimited file into DataFrame.
read_clipboard : Read text from clipboard into DataFrame.

Examples
--------
Constructing DataFrame from a dictionary.

>>> d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4

Notice that the inferred dtype is int64.

>>> df.dtypes
col1    int64
col2    int64
dtype: object

To enforce a single dtype:

>>> df = pd.DataFrame(data=d, dtype=np.int8)
>>> df.dtypes
col1    int8
col2    int8
dtype: object

Constructing DataFrame from a dictionary including Series:

>>> d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
>>> pd.DataFrame(data=d, index=[0, 1, 2, 3])
   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0

Constructing DataFrame from numpy ndarray:

>>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
...                    columns=['a', 'b', 'c'])
>>> df2
   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

Constructing DataFrame from a numpy ndarray that has labeled columns:

>>> data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],
...                 dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
>>> df3 = pd.DataFrame(data, columns=['c', 'a'])
...
>>> df3
   c  a
0  3  1
1  6  4
2  9  7

Constructing DataFrame from dataclass:

>>> from dataclasses import make_dataclass
>>> Point = make_dataclass("Point", [("x", int), ("y", int)])
>>> pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])
   x  y
0  0  0
1  0  3
2  2  3
File:           ~/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py
Type:           type
Subclasses:     SubclassedDataFrame

In [86]:
x = [1, 1, 2, 3]
x.mean()

AttributeError: 'list' object has no attribute 'mean'

In [87]:
x.value_counts()

AttributeError: 'list' object has no attribute 'value_counts'

In [88]:
df_x = pd.DataFrame(x)
type(df_x)

pandas.core.frame.DataFrame

In [89]:
df_x.mean()

0    1.75
dtype: float64

In [90]:
df_x.value_counts()

1    2
2    1
3    1
dtype: int64

In [91]:
x1 = [1, 2, [4, 5, 6], 3]
x1

[1, 2, [4, 5, 6], 3]

In [92]:
type(x1)

list

In [93]:
x1[2]

[4, 5, 6]

In [94]:
x1[2][0]

4